In [8]:
class Employee:
    def __init__(self, name, emp_id):
        self.name = name
        self.emp_id = emp_id

    def calculate_salary(self):
        return 0

class FullTimeEmployee(Employee):
    def __init__(self, name, emp_id, monthly_salary):
        super().__init__(name, emp_id)
        self.monthly_salary = monthly_salary

    def calculate_salary(self):
        return self.monthly_salary

class PartTimeEmployee(Employee):
    def __init__(self, name, emp_id, hours_worked, hourly_rate):
        super().__init__(name, emp_id)
        self.hours_worked = hours_worked
        self.hourly_rate = hourly_rate

    def calculate_salary(self):
        return self.hours_worked * self.hourly_rate

f1 = FullTimeEmployee("Abdul", 101, 50000)
p1 = PartTimeEmployee("Subhan", 102, 80, 200)
print("Full-Time Employee Salary:", f1.calculate_salary())
print("Part-Time Employee Salary:", p1.calculate_salary())

Full-Time Employee Salary: 50000
Part-Time Employee Salary: 16000